# Logs
logs
*.log
bun-debug.log*

node_modules
dist
release
dist-ssr
*.local
dist-types
output

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

stats.html

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

